Source: kodi-audiodsp-basic
Priority: extra
Maintainer: wsnipex <wsnipex@xbmc.org>
Build-Depends: debhelper (>= 8.0.0), cmake, kodi-addon-dev, libkodiplatform-dev, kodi-audio-dev, libfftw3-dev, doxygen
Standards-Version: 3.9.2
Section: libs
Homepage: http://kodi.tv

Package: kodi-audiodsp-basic
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Audio DSP basic addon for KODI
 KODI basic audio DSP addon

Package: kodi-audiodsp-basic-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for Audio DSP basic addon for KODI
 contains the debug symbols for the KODI basic audio DSP addon

